body{
    font-family: 'Playfair Display', serif;
    text-align: center;
}

#api-divs{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}

#compute-div, #palindrome-div, #trim-div, #password-div {
    display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: space-evenly;
    background-color:aliceblue;
    padding: 1rem;
    margin: 1rem;
}

#title{
    font-size: 3rem;
}

label{
    font-weight: 500;
    font-style: oblique;
}

#trim-button, #button, #palindrome-button, #password-button{
    padding: 0.1rem 2rem;
    background: rgb(57, 134, 223);
    font-family: 'Source Serif 4', sans-serif;
    border-radius: 8px;
    cursor: pointer; 
}

#trim-button:hover, #button:hover, #palindrome-button:hover, #password-button:hover{
    color: #000000;
    border: thin solid #000000;
    background: rgb(77, 153, 240);
}

hr{
    width: 50%;
}
input {
    border-radius: 8px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #api-divs{
        display: flex;
        flex-direction: column;
        max-width: 100vw;
    }
  }